/BinaryNode.class
/Constant.class
/Cos.class
/Division.class
/Exp.class
/INode.class
/Log.class
/Multiplication.class
/Node.class
/Plus.class
/Sin.class
/Subtraction.class
/Tan.class
/UnaryNode.class
/Variable.class
